USE [master]
GO
/****** Object:  Database [DSSV]    Script Date: 11/04/2026 2:18:05 CH ******/
CREATE DATABASE [DSSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSSV', FILENAME = N'D:\CSDL\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DSSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSSV_log', FILENAME = N'D:\CSDL\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DSSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSSV]
GO
/****** Object:  Table [dbo].[Sinhvien]    Script Date: 11/04/2026 2:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinhvien](
	[masv] [varchar](20) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [varchar](20) NULL,
	[ngaysinh] [varchar](20) NULL,
	[noisinh] [nvarchar](100) NULL,
	[diachi] [nvarchar](200) NULL,
 CONSTRAINT [PK_Sinhvien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
